#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.phone-wrapper {
  width: 390px;
  height: 844px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border: 10px solid #000;
  border-radius: 32px;
}

.top-half-white {
  height: 50%;
  background-color: white;
  padding: 1rem; /* Equivalent to Tailwind's p-4 */
}

.top-half-purple {
  height: 50%;
  background-color: rgb(162, 140, 243);
  padding: 1rem; /* Equivalent to Tailwind's p-4 */
}

.bottom-half-purple {
  height: 50%;
  background-color: rgb(162, 140, 243);
  padding: 1.5rem; /* Equivalent to Tailwind's p-6 */
  display: flex;
  align-items: center;
}

.bottom-half-white {
  height: 50%;
  background-color: white;
  padding: 1.5rem; /* Equivalent to Tailwind's p-6 */
  display: flex;
  align-items: center;
}

.top-title {
}

.subheading {
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
